.sidebar-item {
  margin: 5px, 5px;
  border-radius: 10px;
}
.sidebar-item:hover {
  background-color: #003566;
  transform: scale(1.05);
  animation: push 0.5s ease;
  /* -webkit-animation: push 1s ease; */
}
.sidebar-icon {
  background-color: black;
}

/* div {
  display: inline-block;
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  color: #666;
} */


@keyframes push {
  20% {
    transform: scale(0.95);
  }
}
